<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Stock Ticker Plot</title>

         <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet" type="text/css" />
    </head>
	<body>
		<div>
  			<h1>Johanna's Milestone Project for TDI </h1>
              <div class=metanav>
              <h4>Please enter a stock ticker eg. GOOG, AAPL, and check desired features.</h4>

    			<form id='input' method='post' action='index'>	
	  			<p>
					Ticker symbol: <input type='text' name='ticker' />
	  			</p>
	  			<p>
					<input type="radio" name='features' value='Close'>Closing price <br>
					<input type="radio" name='features' value='Adj. Close'>Adjusted closing price <br>
					<input type="radio" name='features' value='Volume'>Volume<br>
	    			<input type="submit" value="Submit">
	  			</p>
				</form>
              
              </div>
		</div>
	</body>
</html>
