<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Stock Ticker Plot</title>   
		<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" type="text/css" />
         <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
          
	</head>
	<body>
       <div class=page>     
         {{ script | safe }}
         {{ div | safe }}
        <h1>Generated plot for {{company | safe}} ({{ticker | safe}}) </h1>
        <h2><a href="/index">Click here to generate a new plot!</a></h2>
        </div>
	</body>
</html>
